html,
body {
	font-family: Arial, sans-serif;
    height: 100%;
	margin: 0;
	padding: 0;
	
}

#searchcontains{
	height: 100%;
	position: absolute;
	width: 300px;
	padding-top: 30px;
	padding-left: 30px;
	background-color: rgba(256,256,256,.9);
	overflow: auto;
	z-index: 3;
}

#search-group{
	margin-bottom: 20px;
	width: 250px;
}

#map {
	width: 100%;
    height: 100%;
	z-index: 1;
	position: absolute;
	margin: 0;
}

#list-place{
	margin-left: -15px;
	width: 250px;
}

#separate-line{
	margin-left: -35px;
	width: 290px;
}

#reset-button{
	float: right;
	margin-bottom: 20px;
}

#NY-time{
	font-family: 'Architects Daughter', cursive;
	font-size: 15px;
}

#news-title{
	font-size: 20px;
	
}
.news-articles{
	margin-left: -20px;
}

.weatherContainer{
	position: absolute;
    z-index: 2;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    width: 80px;
    height: 90px;
    padding-top: 3px;
    right: 0;
	bottom: 20%;
    border-radius: 10px;
    overflow: hidden;
}

#weatherimage{
	display: inline-block;
	margin-top: 16px;
	margin-bottom: 17px;
	margin-right: 10px;
}

.weather{
	display: inline-block;
	vertical-align: top;
	font-family: 'Mirza', cursive;
	vertical-align: top;
}

.weather h3{
	display: block;
	margin: auto;
	font-size: 22px;
	color: #ff9933;
}
#weatherInfor div{
	color: #0099ff;
	display: block;
	font-size: 15px;
}

@media screen and (max-width: 700px){
	#searchcontains{
		width: 200px;
		padding-top: 10px;
		padding-left: 10px;
	}
	
	#search-group{
		margin-bottom: 20px;
		width: 150px;
	}
	#list-place{
		margin-left: -15px;
		width: 150px;
	}
}